p {
    margin: 0 auto !important;
    max-width: 650px;
}

p + p {
    margin-top: 15px;
}

.landing-img {
    height: 25rem !important;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}