.landing-p {
    margin: 0 auto !important;
    max-width: 650px;
    color: ghostwhite;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.landing-img {
    height: 25rem !important;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

h1 {
    font-size: 2rem !important;
    padding-top: 2rem !important;
    margin-bottom: 1rem !important;
}

/*@media (max-width: 500px) {*/
    /*.nav-btn-drop {*/
        /*display: inline-block;*/
        /*color: black;*/
        /*float: right;*/
        /*height: 4rem;*/
        /*width: 4rem;*/
        /*background-color: ghostwhite;*/
    /*}*/
/*}*/

@media (min-width: 500px) {
    #Landing-Nav ul li {
        display: inline-block;
    }
}

nav {
    height: 4rem;
    background-color: ghostwhite !important;
}

.nav-btn-drop {
    display: inline-block;
    color: black;
    float: right;
    height: 4rem;
    width: 4rem;
    background-color: ghostwhite;
}