.profile-page {
    text-align: -webkit-center;
}

.item-drop-down > * {
    display: inline;
}

p {
    margin: 0 auto;
    max-width: 650px;
}

p + p {
    margin-top: 15px;
}

.item-drop-down {
    text-align: left;
}

.btn-c1{
    background-color: cadetblue !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.btn-c2 {
    background-color: darkgray !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.bk-c1 {
    background-color: ghostwhite !important;
}

.bk-c2 {
    background-color: aquamarine !important;
}

.no-pad {
    padding: 0 !important;
}

.btn-title {
    position: absolute;
    left: 0;
    padding-left: 2rem;
}

.btn-count {
    position: absolute;
    right: 0;
    padding-right: 2rem;
}